absl-py
altair
annotated-types
anyio
astunparse
attrs
beautifulsoup4
blinker
cachetools
charset-normalizer
click
colorama
contourpy
cycler
deepface
dnspython
dotenv
fastapi
filelock
fire
Flask
Flask-Cors
flatbuffers
fonttools
gast
gdown
gitdb
GitPython
google-pasta
grpcio
gunicorn
h11
h5py
idna
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
mtcnn
namex
narwhals
numpy
opencv-python
opt_einsum
optree
packaging
pandas
pillow
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pymongo
pyparsing
PySocks
python-dateutil
python-dotenv
python-multipart
pytz
referencing
requests
retina-face
rich
rpds-py
seaborn
six
smmap
sniffio
soupsieve
starlette
streamlit
streamlit-nightly
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
tf_keras
toml
tornado
tqdm
typing_extensions
tzdata
urllib3
uvicorn
watchdog
Werkzeug
wrapt
